@import url(https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Bitcount+Grid+Single:wght@100..900&display=swap);
div {
  font-size: 18px;
  /* border-radius: 15px; */
  /* border-radius: 10px 0; */
  /* border-radius: 10px 0 5px 0; */
  /* border-radius: 50%;
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px; */
  /* aspect-ratio: 6 / 2; */
}

.oklch-color1 {
  text-align: center;
  background-color: oklch(90% 0.1 240);
}
.oklch-color2 {
  text-align: left;
  background-color: oklch(70% 0.25 140);
}
.oklch-color3 {
  text-align: right;
  background-color: oklch(40% 0.15 320);
}

.normal {
  font-style: normal;
}
.italic {
  font-style: italic;
}
.oblique {
  font-style: oblique;
}
.bold {
  font-weight: bold;
}
.size {
  font-size: 20px;
}
.font {
  font-family: 'Times New Roman', Times, serif;
}
.f {
  font-family: 'BBH Sans Hegarty', sans-serif;
}
.o {
  font-family: 'Bitcount Grid Single', system-ui;
}

/* @media (max-width: 800px) {
  body {
    background-color: red;
  }

  h1 {
    font-size: 24px;
    color: darkblue;
  }
} */

body {
  background-color: light-dark(lightgrey, #121212);
  color: light-dark(white, black);
}
h1 {
  color: light-dark(darkblue, #90caf0);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  h1 {
    color: #90caf0;
  }
}
