body {
  max-width: 1200px;
}

.section {
  background-color: rgb(230, 237, 235);
  padding: 20px 20px 10px 20px;
  margin-inline: 20px;
}

.container {
  background-color: bisque;
}

.calc {
  width: calc(100% - 120px);
}

.clamp {
  width: clamp(30px, 50%, 500px);
}

.min {
  width: min(50%, 500px);
}

.max {
  width: max(300px, 50%);
}

.grid {
  display: grid;
}

.minmax {
  grid-template-columns: minmax(300px, 500px);
}

.item {
  background-color: rgb(221, 184, 255);
  padding: 30px;
}

.repeat {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.fit-content {
  display: grid;
  grid-template-columns: fit-content(100px), fit-content(400px);
  gap: 20px;
}

:root {
  --primary-color: oklch(80% 0.2 50);
  --secondary-color: oklch(80% 0.2 200);
  --triary-color: oklch(80% 0.2 30);
  --quaternary-color: oklch(80% 0.2 150);
}

h4 {
  color: var(--primary-color);
}

p {
  color: var(--secondary-color);
}

.orange {
  color: var(--triary-color);
}

span {
  color: var(--quaternary-color);
}

