body {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.header {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 16px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 0;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 가로로 3칸 */
  grid-template-rows: auto; /* 세로는 자동 */
  gap: 15px;
  cursor: pointer;
}

.section {
  background-color: rgb(232, 177, 224);
  border-radius: 8px;
}
.section:hover:not(:disabled) {
  background-color: rgb(208, 122, 192);
  border-radius: 8px;
}
.section:active:not(:disabled) {
  transform: scale(0.995);
}
.section2 {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  border-radius: 8px;
}
.section2:hover:not(:disabled) {
  background-color: rgb(255, 0, 0);
  color: black;
  border-radius: 8px;
}
.section2:active:not(:disabled) {
  transform: scale(0.995);
}

.repeat {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image {
  width: 300px;
  border-radius: 10px;
}

.item {
  margin: 20px;
}

.box {
  display: inline-flex;
  border: 2px solid oklch(83.064% 0.12283 342.613);
  color: rgb(215, 97, 180);
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  left: 16px;
  position: fixed;
  cursor: pointer;
}
.box2 {
  display: inline-flex;
  border: 2px solid oklch(62.793% 0.25768 29.223);
  color: rgb(255, 0, 0);
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  position: fixed;
  cursor: not-allowed;
  right: 16px;
  bottom: 16px;
}
.box:active:not(:disabled) {
  color: rgb(255, 0, 0);
  border: 2px solid oklch(62.793% 0.25768 29.223);
  background-color: rgb(0, 0, 0);
  transform: scale(0.8);
}
